.login-btn {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}
.login-btn {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.login-section {
  height: 87vh;
  background: #475d62 url("../assets/bg.jpg");
  background-size: cover;
  position: relative;
}
.login-section h2 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
}

.login-section form {
  max-width: 320px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-section .illustration {
  text-align: center;
  padding: 15px 0 20px;
  font-size: 100px;
  color: #2980ef;
  margin: 20px;
}

.login-section input {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  width: 90%;
  font-size: 16px;
  height: 30px;
  margin: 5px;
}
.login-section button {
  color: #fff;
  background: #3777cc;
  outline: none;
  margin: 20px;
  width: 90%;
  font-weight: bold;
}
.login-section a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #6f7a85;
  text-decoration: none;
  margin: 5px;
}
