<section class="register-section">
    <div #loader class="loader"></div>
    <form #form>
        <h2>Register</h2>
        <div class="illustration">
            <i class="fas fa-user-plus"></i>
        </div>
        <div>
            <input type="text" #username name="username" placeholder="Username">
        </div>
        <div>
            <input type="email" #email name="email" placeholder="Email">
        </div>
        <div>
            <input type="password" #password name="password" placeholder="Password">
        </div>
        <div>
            <input type="password" #confirmPassword name="confirm-password" placeholder="Confirm password">
        </div>
        <div class="bio-holder">
            <label>
                <p>Tell us a bit about yourself:</p>
                <textarea name="biography" #bio rows="4" cols="50"></textarea>
            </label>
        </div>
        <div class="pic-holder">
            <label>
                <p>Choose a profile picture:</p>
                <input type="file" required id="file" #userPhoto name="image" />
            </label>
        </div>

        <div>
            <button class="btn"
                (click)="onRegister(username.value,email.value,password.value,confirmPassword.value,bio.value,userPhoto); loader.style.display='block'; form.style.display='none';"
                type="button">Register</button>
        </div>
    </form>
</section>