.chat-holder {
  background-color: antiquewhite;
  min-height: 85vh;
  padding-bottom: 60px;
}
.not-logged {
  color: red;
}
h1 {
  padding-top: 20px;
  text-align: center;
}
textarea {
  outline: none;
  border: none;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #024094;
  background: transparent;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.send {
  display: flex;
}
ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.img-holder {
  display: inline-block;
  margin-right: 10px;
}
li {
  width: 80%;
  background-color: white;
  box-shadow: 6px 7px 26px -4px rgba(46, 34, 34, 0.94);
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}
.createdOn {
  float: right;
}
img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.comment-user-username {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.post-title {
  font-size: 18px;
  margin-left: 20px;
}
@media all and (min-width: 250px) and (max-width: 660px) {
  .send {
    width: 85%;
  }
  .post-title {
    display: inline-block;
  }
}
.frozen {
  text-align: center;
  color: red;
  font-weight: 400;
  font-size: 24px;
}
