.dashboard-holder {
  padding-bottom: 50px;
  padding-top: 20px;
  background-color: #181818;
  min-height: 85.7vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  color: #fff;
}
.spinner {
  margin: 0 auto;
}
.cards-holder {
  margin-top: 10px;
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  justify-content: center;
  /* 
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%); */
}
.card {
  cursor: pointer;
  flex-basis: 45%;
  padding: 30px 20px;
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  color: white;
  font-weight: 500;
}
.user-card {
  background-color: #3b76ef;
}
.blogs-card {
  background-color: #6dd4b1;
}
.logs-card {
  background-color: #a66dd4;
}
.viewers-card {
  background-color: #6c8770;
}
.city-card {
  background-color: #380036;
}
.messages-card {
  background-color: #63c7ff;
}
.page-card {
  background-color: #ff6b35;
}
.userip-card {
  background-color: #6f584b;
}
.card-title {
  font-size: 16px;
}
.card-content {
  font-size: 23px;
  font-weight: bold;
}
@media all and (min-width: 250px) and (max-width: 660px) {
  .cards-holder {
    flex-direction: column;
  }
}
