<header>
    <nav>
        <section class="logo-holder">
            <img src="../../../../assets/site_logo_Cropped.png" alt="">
        </section>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/blogs/all">Start Reading</a></li>
            <li><a routerLink="/blogs/new">Start Writing</a></li>
            <li><a routerLink="/chat">Open Discussion</a></li>
            <li><a routerLink="/leaderboard">Leaderboard</a></li>
            <li><a routerLink="/privacy">Privacy</a></li>
            <span class="admin-holder">
                <li *ngIf="isAdmin"><a (click)="toggleAdminDropdown()">Administration</a>
                </li>
                <div *ngIf="isAdminDropdownShown" class="dropdown-content">
                    <a routerLink="/admin/blogs">Blogs</a>
                    <a routerLink="/admin/users">Users</a>
                </div>
            </span>



        </ul>

        <ul *ngIf="!this.isLogged">
            <li><a routerLink="/auth/login">Login</a></li>
            <li><a routerLink="/auth/register">Register</a></li>
        </ul>
        <ul *ngIf="this.isLogged">
            <li>
                <a>
                    <section class="logo-holder">
                        <a routerLink="/user/{{user.id}}">
                            <img class="profile-pic" src="{{user.imgUrl}}" alt="" />
                        </a>
                    </section>
                </a>
            </li>
            <li><a (click)='logout()'>Logout</a></li>
        </ul>
    </nav>
</header>