<header>
    <nav>
        <section class="logo-holder">
            <img src="../../../../assets/site_logo_Cropped.png" alt="">
        </section>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/blogs/all">Start Reading</a></li>
            <li><a routerLink="/blogs/new">Start Writing</a></li>
            <li><a routerLink="/chat">Open Discussion</a></li>
            <li><a routerLink="/users/leaderboard">Leaderboard</a></li>
            <li><a routerLink="/privacy">Privacy</a></li>
        </ul>

        <ul *ngIf="!this.isLogged">
            <li><a routerLink="/auth/login">Login</a></li>
            <li><a routerLink="/auth/register">Register</a></li>
        </ul>
        <ul *ngIf="this.isLogged">
            <li>
                <a>
                    <section class="logo-holder">
                        <a routerLink="/user/profile">
                            <img class="profile-pic" src="{{userPic}}" alt="" />
                        </a>
                    </section>
                </a>
            </li>
            <li><a (click)='logout()'>Logout</a></li>
        </ul>
    </nav>
</header>