<section class="admin-users-page">
    <section class="heading">
        <h1>User Logs:</h1> <button (click)="purgeLogs()" class="btn btn-danger">PURGE</button>
    </section>


    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Id:</th>
                <th>IP Address:</th>
                <th>Page:</th>
                <th>City:</th>
                <th>Country Code:</th>
                <th>Continent Code:</th>
                <th>CreatedOn:</th>
                <th>Delete record</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let log of (logs$ |async); let i = index">
                <td>{{i+1}}</td>
                <td>{{log.id}}</td>
                <td (mouseover)="showIp()" (mouseout)="hideIp()">{{log.ip}}</td>
                <td>{{log.page_location}}</td>
                <td>{{log.city}}</td>
                <td>{{log.country_code}}</td>
                <td>{{log.continent_code}}</td>
                <td>{{log.createdOn}}</td>
                <td>
                    <button (click)="deleteRecord(log)" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>