.admin-users-page {
  padding-bottom: 100px;
  min-height: 85.7vh;
  background-color: #181818;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin-left: 10px;
}
table {
  color: white !important;
  background-color: #343a40;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  color: white !important;
}
td .img-holder {
  width: 100px;
}
td .img-holder img {
  width: 100%;
}
h1 {
  display: inline-block;
  color: white;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
table {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.table {
  vertical-align: middle;
}

@media all and (min-width: 395px) and (max-width: 660px) {
  tr > td:nth-child(1),
  tr th:nth-child(1) {
    display: none;
  }
  .img-col {
    display: none;
  }
}
