.blogs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-weight: 400;
  font-size: 40px;
  margin-top: 30px;
}
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.blog-card {
  margin: 15px;
  flex-basis: 25%;
  box-shadow: 6px 7px 26px -4px rgba(46, 34, 34, 0.94);
  border-radius: 5px;
}

.content {
  padding: 0px 50px;
  display: flex;
}
.cards {
  flex-basis: 80%;
}
.aside {
  flex-basis: 20%;
}
.aside h3 {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
}
ul li {
  margin: 15px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #024094;
  padding: 10px 20px;
}
.sort-btn {
  cursor: pointer;
  width: fit-content;
  outline: none;
  background-color: #e5e8ed;
  color: #4a4e53;
  border: 1px solid #696f79;
  padding: 5px 10px;
  border-radius: 6px;
}
@media all and (min-width: 250px) and (max-width: 660px) {
  .content {
    flex-direction: column;
    padding-bottom: 30px;
  }
  h1 {
    text-align: center;
    line-height: 1;
  }
  .blog-cards {
    flex-direction: column;
  }
  .sort-btn {
    width: fit-content;
  }
}
