.page-holder {
  padding: 50px;
}

h1 {
  text-align: center;
}
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.blog-card {
  margin: 15px;
  flex-basis: 25%;
  box-shadow: 6px 7px 26px -4px rgba(46, 34, 34, 0.94);
  border-radius: 5px;
}
button {
  width: fit-content !important;
}

.spinner {
  margin: 0 auto;
}

@media all and (min-width: 250px) and (max-width: 660px) {
  .content {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .blog-cards {
    flex-direction: column;
  }
}
article.blog-content-holder img {
  max-width: 100% !important;
}
