<section class="page-holder">
    <h1>Here are you bookmarked blogs!</h1>

    <mat-spinner class="spinner" *ngIf="this.blogs.length <= 0"></mat-spinner>
    <section class="content" *ngIf="this.blogs.length > 0">
        <section class="cards">
            <div class="blog-cards">
                <app-blog-item class="blog-card" *ngFor="let blog of blogs" [blog]="blog">
                    <button class="btn btn-danger" (click)="removeFromBookmarks(blog)"><i
                            class="fas fa-trash-alt"></i></button>
                </app-blog-item>
            </div>
            <div *ngIf="this.blogs.length < 0">
                <hr>
                <h1>There are currently no blogs to show!</h1>
            </div>
        </section>
    </section>
</section>