.admin-blogs-page {
  padding-bottom: 100px;
  background-color: #181818;
  min-height: 85.7vh;
}
table {
  color: white !important;
  background-color: #343a40;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  color: white !important;
}
td .img-holder {
  width: 100px;
}
td .img-holder img {
  width: 100%;
}
h1 {
  color: white;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
table {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.table {
  vertical-align: middle;
}
@media all and (min-width: 395px) and (max-width: 660px) {
  tr > td:nth-child(1),
  tr > td:nth-child(3),
  tr > td:nth-child(8),
  tr th:nth-child(1),
  tr th:nth-child(8),
  tr th:nth-child(3) {
    display: none;
  }
  .img-col {
    display: none;
  }
}
