<section class="admin-blogs-page">
    <h1>Blogs Administration:</h1>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th class="img-col">Image:</th>
                <th>Title:</th>
                <th>Id:</th>
                <th>Views:</th>
                <th>Likes:</th>
                <th>Comments:</th>
                <th>Tags:</th>
                <th>Created On:</th>
                <th>View Blog</th>
                <th>Delete Blog</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let blog of blogs$ | async">
                <td>
                    <section class="img-holder">
                        <img [src]="blog.imgUrl" alt="">
                    </section>
                </td>
                <td>{{blog.title}}</td>
                <td>{{blog.id}}</td>
                <td>{{blog.views?.length}}</td>
                <td>{{blog.likes?.length}}</td>
                <td>{{blog.comments?.length}}</td>
                <td>{{blog.tags?.join(', ')}}</td>
                <td>{{blog.createdOn}}</td>

                <td><a class="btn btn-primary" routerLink="/blogs/blog/{{blog.id}}">View</a></td>
                <td>
                    <button (click)="deleteBlog(blog)" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>