<section class="wrapper">
    <h2>Welcome to...</h2>
    <h1><span class="easy-span">...EASY</span> <span class="blog-span">BLOG...</span></h1>
    <h4>No Matter How Great Your Content Is, Express You Open Opinion In This Shared Community</h4>

    <section class="cta">
        <article class="start-reading">
            <h3>You dont feel like writing? </h3>
            <h3>Take a look at what our writers offer!</h3>
            <a class="btn reading-btn" routerLink="/blogs">START READING</a>
        </article>
        <article class="start-writing">
            <h3>Are you ready to impress people?</h3>
            <h3>Show the world how great your writing skills are!</h3>
            <a class="btn writing-btn" routerLink="/blogs/new">START WRITING</a>
        </article>
    </section>
</section>