.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  height: 65.6vh;
}
.easy-span {
  color: #f47d05;
}
.blog-span {
  color: #024094;
}
h2 {
  margin-bottom: 10px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: bold;
}
h4 {
  font-style: italic;
  font-size: 20px;
}
.cta {
  margin-top: 30px;
  display: flex;
  text-align: center;
}
h3 {
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 20px;
}
h3:nth-child(2) {
  margin-bottom: 70px;
}
.start-reading {
  flex-basis: 50%;
  margin-right: 70px;
  position: relative;
}
.start-writing {
  flex-basis: 50%;
  position: relative;
}

.btn {
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
}
.reading-btn {
  background-color: #f47d05;
  margin-top: 10px;
  position: relative;
  top: 55px;
}
.writing-btn {
  background-color: #024094;
  position: relative;
  top: 38px;
}
@media all and (min-width: 395px) and (max-width: 660px) {
  .wrapper {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-left: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0px !important;
  }
  h4 {
    font-size: 14px;
  }
  .btn {
    font-weight: 500;
    font-size: 15px;
    padding: 10px 14px;
  }
  .writing-btn {
    position: unset;
  }
  .reading-btn {
    top: 10px;
  }
}
