<section *ngIf="user" class="user-profile">
    <section class="profile-holder">
        <section class="profile-img-holder">
            <img [src]="user.imgUrl" alt="">
        </section>
        <section class="isFrozen">
            <h1>{{user.username}}</h1>
            <p *ngIf="isFrozen" class="frozen">USER IS FROZEN BY ADMIN</p>
        </section>
    </section>

    <section class="bio-holder">
        <h2 class="bio-heading">User Bio:</h2>
        <p>{{user.bio}}</p>
    </section>

    <h2 class="bordered-heading">Achievements:</h2>
    <ul class="achievements-holder" *ngIf="user.achievements">
        <li *ngFor="let achievment of user.achievements">
            <article class="img-holder">
                <img [src]="achievment.imgUrl" alt="">
            </article>
            <article class="achievment-content">
                {{achievment.content}}
            </article>
        </li>
    </ul>
    <p *ngIf="user.achievements?.length == 0">No earned achievemnts yet!</p>

    <section *ngIf="isUserOwnerOfProfile" class="visit-history">
        <button class="btn btn-success" (click)="toggleUserVisitations()">Visitation history</button>
        <section class="visits-holder" *ngIf="areVisitationsVisitble">
            <p>Latest 10 visits of your profile</p>
            <p *ngIf="user.visitations?.length == 0">No one has visited your profile yet!</p>
            <table *ngIf="user.visitations?.length! > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th>Visited On:</th>
                        <th>Visited By:</th>
                        <th>See visiter profile: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let visitation of user.visitations?.slice(0,10)">
                        <td>{{visitation.visitedOn! | dateTimeFormatter}}</td>
                        <td>{{visitation.visitedBy.username}}</td>
                        <td><button class="btn btn-info" routerLink="/user/{{visitation.visitedBy.id}}">View
                                Profile</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </section>

    <h2 class="bordered-heading">Blogs:</h2>
    <div class="blog-cards" *ngIf="blogs">
        <app-blog-item class="blog-card" *ngFor="let blog of blogs" [blog]="blog"></app-blog-item>
    </div>
    <p *ngIf="!blogs">No blogs written yet!</p>

</section>