h1 {
  margin-left: 25px;
}
.profile-holder {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.profile-img-holder img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-holder {
  width: 25px;
}
.bio-holder {
  max-width: 60%;
  margin-top: 20px;
  text-align: left;
}
.bio-holder p {
  font-size: 17px;
}
.bordered-heading {
  width: 90%;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
hr {
  width: 90%;
  display: block;
  border: 1px solid #ccc;
  margin: 0;
}
.img-holder img {
  width: 100%;
}
.achievements-holder {
  max-width: 60%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.achievements-holder li {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: lightgray;
}

.achievment-content {
  width: 100px;
  text-align: center;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.blog-card {
  margin: 15px;
  flex-basis: 30%;
  box-shadow: 6px 7px 26px -4px rgba(46, 34, 34, 0.94);
  border-radius: 5px;
}
.user-profile {
  min-height: 85vh;
}
