<section *ngIf="user" class="user-profile">
    <section class="profile-holder">
        <section class="profile-img-holder">
            <img [src]="user.imgUrl" alt="">
        </section>
        <h1>{{user.username}}</h1>
    </section>

    <section class="bio-holder">
        <h2 class="bio-heading">User Bio:</h2>
        <p>{{user.bio}}</p>
    </section>

    <h2 class="bordered-heading">Achievements:</h2>
    <ul class="achievements-holder" *ngIf="achievements.length > 0">
        <li *ngFor="let achievment of achievements">
            <article class="img-holder">
                <img [src]="achievment.imgUrl" alt="">
            </article>
            <article class="achievment-content">
                {{achievment.content}}
            </article>
        </li>
    </ul>
    <p *ngIf="achievements.length == 0">No earned achievemnts yet!</p>

    <h2 class="bordered-heading">Blogs:</h2>
    <div class="blog-cards" *ngIf="blogs.length > 0">
        <app-blog-item class="blog-card" *ngFor="let blog of blogs" [blog]="blog"></app-blog-item>
    </div>
    <p *ngIf="blogs.length == 0">No blogs written yet!</p>

</section>