.blog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 17vw;
  object-fit: cover;
}
.img-holder {
  flex-basis: 50%;
}
.blog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  text-align: center;
  padding: 10px;
}
.text {
  flex-basis: 50%;
}
.popularity-markers {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.popularity-markers i {
  font-weight: 200;
  font-size: 18px;
}
.fa-heart {
  color: red;
}
.fa-comments {
  color: #024094;
}
a {
  text-align: right;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.remove-from-bookmarks {
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 0px;
}
.text-orange {
  color: #f47d05;
}
.text-blue {
  color: #024094;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
button {
  width: fit-content;
}
