<article class="blog">
    <section class="img-holder">
        <img [src]="blog.imgUrl" alt="">
    </section>
    <section class="blog-content">
        <h2>{{blog.title}}</h2>
        <p class="text" [innerHTML]="blog.content.substring(0,200)"></p>

        <section class="popularity-markers">
            <i class="fas fa-eye"> {{blog.views?.length || 0}}</i>
            <i class="fas fa-comments"> {{blog.comments?.length || 0}}</i>
            <i class="fas fa-heart"> {{blog.likes?.length || 0}}</i>
        </section>

        <a (click)="incrementBlogViews(blog)" routerLink="../blog/{{blog.id}}">
            <span class="text-orange">Read </span>
            <span class="text-blue">More...</span>
        </a>
    </section>
</article>