.footer {
  padding: 9px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #1e2833;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.footer p {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  margin: 3px;
}
